body{
  margin: 0;
  text-align: center;
}

h1{
  color: #27496d;
  margin-top: 0;
  font-family: 'Clicker Script', cursive;

}

h2{
  color: #27496d;
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
}

h3{
  color: #27496d;
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
}


p{
  color: #142850;
  font-family: 'Comfortaa', cursive;
  padding: 10px;
}

.top-container h1{
  display: inline-block;
  font-size: 70px;
  padding-top: 100px;
}

.top-container{
  background: #dae1e7;
  position: relative;
  padding-top: 200px;
}

.middle-container{
  background: #dae1e7;


}

.bottom-container{
  background: #dae1e7;

}

.cloud1{
  position: absolute;
  top: 20%;
  right: 50px;
  width: 10%;
}

.cloud2{
  position: absolute;
  left: 50px;
  bottom: 20%;
  width: 10%;
}

.mountain{
  width: 50%;
}

.intro{
  position: ;
}

.profileimg{
  border-radius: 50%
}

.profile{
  padding-top: 100px;
}
